@import "../../styles/vendors.scss";
.auth__container {
  width: 360px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 40px;
  padding: 40px;
  .title {
    font-size: 20px;
    text-align: center;
    color: $dark;
    margin-bottom: 30px;
  }
  .tabs {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    button {
      width: 100%;
      padding: 10px 20px;
      background-color: $notActive;
      border: none;
      color: #fff;
      border-radius: 16px;
      font-size: $fsize;
      font-weight: 400;
      &.active {
        background-color: $dark;
      }
    }
  }
  .input {
    margin-top: 5px;
    label {
      font-size: 10px;
      color: $dark;
      font-weight: 500;
    }
    input {
      width: 100%;
      display: block;
      height: 40px;
      border: 1px solid #c9c9c9;
      border-radius: 12px;
      padding: 0 20px;
      outline: none;
      font-size: $fsize;
      margin-top: 5px;
      &:focus {
        border: 1px solid $dark;
      }
      &::placeholder {
        font-size: $fsize;
      }
    }
  }
  .submit__btn {
    width: 100%;
    padding: 10px 20px;
    height: 40px;
    background: $dark;
    border: none;
    border-radius: 16px;
    color: #fff;
    font-size: $fsize;
    margin-top: 20px;
  }
  .auth__type__change {
    font-size: $fsize;
    color: #797979;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    button {
      font-size: $fsize;
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }
}
